name: Helm Chart CI

on:
  workflow_dispatch:
  push:
    paths:
      - 'charts/**'
      - '.github/workflows/helm-chart-ci.yml'
      - '.github/*.sh'
      - '.github/tests/**/*.yaml'
      - '.github/kind/conf/kind-config.yaml'
    branches-ignore:
      - main
  pull_request:
    paths:
      - 'charts/**'
      - '.github/workflows/helm-chart-ci.yml'
      - '.github/*.sh'
      - '.github/tests/**/*.yaml'
      - '.github/kind/conf/kind-config.yaml'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  HELM_VERSION: v3.10.3
  PYTHON_VERSION: 3.11.1
  CHART_TESTING_VERSION: v3.7.1

jobs:
  check-docs:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3.2.0

      - name: Verify Docs updated
        run: .github/helm-docs.sh

  lint-chart:
    runs-on: ubuntu-22.04
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

    steps:
      - name: Checkout
        uses: actions/checkout@v3.2.0
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3.5
        with:
          version: ${{ env.HELM_VERSION }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Setup chart-testing
        uses: helm/chart-testing-action@v2.3.1
        with:
          version: ${{ env.CHART_TESTING_VERSION }}

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch main)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Setup chartmuseum
        if: ${{ steps.list-changed.outputs.changed }}
        uses: marcofranssen/setup-chartmuseum@v0.2.0
        with:
          bootup: true

      - name: Setup charts repo localhost
        if: ${{ steps.list-changed.outputs.changed }}
        run: .github/local-helm-repo.sh

      - name: Run chart-testing (lint)
        run: |
          ct lint --debug \
            --target-branch main \
            --chart-repos philips-labs=http://127.0.0.1:8879

    outputs:
      changed: ${{ steps.list-changed.outputs.changed }}

  test:
    name: Test
    runs-on: ubuntu-22.04
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    needs:
      - lint-chart

    strategy:
      fail-fast: false
      matrix:
        k8s:
          - v1.21.14
          - v1.22.15
          - v1.23.13
          - v1.24.7
          - v1.25.3
        values:
          - default
          - upstream-authority-disk

    steps:
      - name: Checkout
        uses: actions/checkout@v3.2.0
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3.5
        with:
          version: ${{ env.HELM_VERSION }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Setup chart-testing
        uses: helm/chart-testing-action@v2.3.1
        with:
          version: ${{ env.CHART_TESTING_VERSION }}

      - name: Setup chartmuseum
        if: ${{ needs.lint-chart.outputs.changed }}
        uses: marcofranssen/setup-chartmuseum@v0.2.0
        with:
          bootup: true

      - name: Setup charts repo localhost
        if: ${{ needs.lint-chart.outputs.changed }}
        run: .github/local-helm-repo.sh

      - name: Create kind ${{ matrix.k8s }} cluster
        uses: helm/kind-action@v1.5.0
        # Only build a kind cluster if there are chart changes to test.
        if: needs.lint-chart.outputs.changed == 'true'
        with:
          version: v0.16.0
          node_image: kindest/node:${{ matrix.k8s }}
          config: .github/kind/conf/kind-config.yaml
          verbosity: 1

      - name: Run chart-testing (install)
        run: |
          ct install --debug \
            --target-branch main \
            --chart-repos philips-labs=http://127.0.0.1:8879 \
            --excluded-charts spire-client-example \
            --exclude-deprecated \
            ${{ (matrix.values != 'default' && '--helm-extra-set-args "--values=.github/tests/$VALUES/values.yaml"') || '' }}

        env:
          VALUES: ${{ matrix.values }}
